@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:lightblue;
    margin: 5%;
    padding: 5%;
}

section{
    background-color: white;
    width: 100%;
    padding: 50px;
    justify-content: center;
}
h5{
    text-align: center;
    color:royalblue;
    }
    h1{
        text-align: center;
        color: midnightblue;
        font-family: Sawarabi Gothic;
    }
    .introduccion{
        text-align: center;
         color:rgb(58, 57, 57);
         font-family: Sans;
    }
    .inferior , .superior{
        height: 30vh;
        align-items: center;
        display: flex;
        justify-content:space-around;
        background-color: white;
    }
.contenedor{
    display: flex;
    background-color: white;
    justify-content:space-around;
    align-items:normal;
    flex-direction: column;
    width: 100%;
}


.bi{
    height: 15px;
    width: 15px;
    display: flex;
    border: 5px solid cornflowerblue;
    border-radius: 50% ;
    color: cornflowerblue;
}
.detalle{
    font-family:Arial, Helvetica;
    font-size: 15px;
    text-align:justify;}
    h4{
        text-align: justify;
    }

.carta{
    width: 300px;
    height: 300px;
}